## Day 4 Project: Pandas
### Ishat Noor (Mahi-3006)
#### Statistics 1/1

## ```1. Create & Inspect DataFrame```

In [2]:
#i.Load and read the dataset
import pandas as pd
dataset_url = 'G:/PyNext/day 4/Datasets/titanic-cs.csv'
titanic = pd.read_csv(dataset_url)

In [ ]:
titanic

In [ ]:
#ii. Check shape, columns, dtypes, head(), tail(), sample()
print(titanic.shape)
print(titanic.columns)
print(titanic.shape)
print(titanic.head())
print(titanic.tail())
print(titanic.sample(2))

## ```2. Indexing & Slicing```

In [ ]:
#i. Select only Pclass & Fare columns
print(titanic[['Pclass','Fare']])
#ii. Slice first 10 passengers, last 5 passengers
print(titanic.iloc[:10])
print(titanic.iloc[-5:])

In [ ]:
#iii. Select passengers aged under 18 (kids first into lifeboats üö¢).
new_df = titanic.query('Age<18')
print(new_df)

## ```3. Filtering```

In [ ]:
#i. Passengers with Fare > 50
fare_df = titanic.query('Fare>50')
#ii. Females in Pclass = 1st (rich ladies, likely survivors üíº üç± )
rich_ladies = titanic[(titanic["Pclass"]=="1st") & (titanic["Sex"]=="female")]
print(rich_ladies.info())
#iii. Males in Pclass = 3 (poor guys, least chance üòú)
poor_guys = titanic[(titanic["Pclass"]=="3rd") & (titanic["Sex"]=="male")]
print(poor_guys.info())

## ````4. Adding/Modifying Columns````

In [4]:
#i. Add a new column: FamilySize = Siblings/Spouses Aboard + Parents/Children Aboard + 1
titanic["FamilySize"] = titanic["Parents/Children Aboard"] + titanic["Siblings/Spouses Aboard"] +1
print(titanic)
#ii. Create IsChild = Age < 18
titanic["isChild"] = titanic["Age"]<18

    Pclass     Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard  \
0      3rd    male  22.0                        1                        0
1      1st  female  38.0                        1                        0
2      3rd  female  26.0                        0                        0
3      1st  female  35.0                        1                        0
4      3rd    male  35.0                        0                        0
..     ...     ...   ...                      ...                      ...
882    2nd    male  27.0                        0                        0
883    1st  female  19.0                        0                        0
884    3rd  female   7.0                        1                        2
885    1st    male  26.0                        0                        0
886    3rd    male  32.0                        0                        0

        Fare Survived  FamilySize  isChild
0     7.2500       No           2    False
1    71.2833      Yes           2    False
2     7.9250      Yes           1    False
3    53.1000      Yes           2    False
4     8.0500       No           1    False
..       ...      ...         ...      ...
882  13.0000       No           1    False
883  30.0000      Yes           1    False
884  23.4500       No           4     True
885  30.0000      Yes           1    False
886   7.7500       No           1    False

[887 rows x 9 columns]

## ````5.Drop & Add Rows````

In [ ]:
#i. Drop missing Age rows
titanic.dropna(subset=["Age"])

In [ ]:
#ii. Add a ‚Äúfictional passenger‚Äù row (Jack Dawson üíî)
dawson = {
    "Pclass": "3rd",
    "Sex": "male",
    "Age": 29.0,
    "Siblings/Spouses Aboard": 0,
    "Parents/Children Aboard": 0,
    "Fare": 0,
    "Survived": 1,
    "FamilySize": 1,
    "isChild": False
}

dawson_df = pd.DataFrame([dawson])

new_titanic = pd.concat([titanic,dawson_df],ignore_index = True)
new_titanic

## ```6. Grouping & Aggregation```

In [ ]:
#i. Group by Pclass and get average Fare
titanic.groupby("Pclass")["Fare"].mean()

In [ ]:
#ii Group by Sex and see survival rate
titanic.groupby('Sex')["Survived"].count()
#ii.

## ````7. Sorting````

In [104]:
# 7.i Sort passengers by Fare (descending)
sorted_by_fare = titanic.sort_values(by="Fare", ascending=False)
# 7.ii Sort survivors by Age
survivors = titanic[titanic["Survived"] == " Yes"]  

sorted_survivors_by_age = survivors.sort_values(by="Age")