## Day 4 Project: Pandas
### Ishat Noor (Mahi-3006)
#### Statistics 1/1

## ```1. Create & Inspect DataFrame```

In [96]:
#i.Load and read the dataset
import pandas as pd
dataset_url = 'G:/PyNext/day 4/Datasets/titanic-cs.csv'
titanic = pd.read_csv(dataset_url)

In [ ]:
titanic

In [ ]:
#ii. Check shape, columns, dtypes, head(), tail(), sample()
print(titanic.shape)
print(titanic.columns)
print(titanic.shape)
print(titanic.head())
print(titanic.tail())
print(titanic.sample(2))

## ```2. Indexing & Slicing```

In [ ]:
#i. Select only Pclass & Fare columns
print(titanic[['Pclass','Fare']])
#ii. Slice first 10 passengers, last 5 passengers
print(titanic.iloc[:10])
print(titanic.iloc[-5:])

In [ ]:
#iii. Select passengers aged under 18 (kids first into lifeboats üö¢).
new_df = titanic.query('Age<18')
print(new_df)

## ```3. Filtering```

In [ ]:
#i. Passengers with Fare > 50
fare_df = titanic.query('Fare>50')
#ii. Females in Pclass = 1st (rich ladies, likely survivors üíº üç± )
rich_ladies = titanic[(titanic["Pclass"]=="1st") & (titanic["Sex"]=="female")]
print(rich_ladies.info())
#iii. Males in Pclass = 3 (poor guys, least chance üòú)
poor_guys = titanic[(titanic["Pclass"]=="3rd") & (titanic["Sex"]=="male")]
print(poor_guys.info())

## ````4. Adding/Modifying Columns````

In [ ]:
#i. Add a new column: FamilySize = Siblings/Spouses Aboard + Parents/Children Aboard + 1
titanic["FamilySize"] = titanic["Parents/Children Aboard"] + titanic["Siblings/Spouses Aboard"] +1
#ii. Create IsChild = Age < 18
titanic["isChild"] = titanic["Age"]<18

## ````5.Drop & Add Rows````

In [ ]:
#i. Drop missing Age rows
titanic.dropna(subset=["Age"])

In [ ]:
#ii. Add a ‚Äúfictional passenger‚Äù row (Jack Dawson üíî)
dawson = {
    "Pclass": "3rd",
    "Sex": "male",
    "Age": 29.0,
    "Siblings/Spouses Aboard": 0,
    "Parents/Children Aboard": 0,
    "Fare": 0,
    "Survived": 1,
    "FamilySize": 1,
    "isChild": False
}

dawson_df = pd.DataFrame([dawson])

new_titanic = pd.concat([titanic,dawson_df],ignore_index = True)
new_titanic

## ```6. Grouping & Aggregation```

In [ ]:
#i. Group by Pclass and get average Fare
titanic.groupby("Pclass")["Fare"].mean()

In [ ]:
#ii Group by Sex and see survival rate
titanic.groupby('Sex')["Survived"].count()
#ii.

## ````7. Sorting````

In [104]:
# 7.i Sort passengers by Fare (descending)
sorted_by_fare = titanic.sort_values(by="Fare", ascending=False)
# 7.ii Sort survivors by Age
survivors = titanic[titanic["Survived"] == " Yes"]  

sorted_survivors_by_age = survivors.sort_values(by="Age")